# Data Inspection

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../Datasets/kitsune_dataset/Active_Wiretap/Active_Wiretap_dataset.csv')

In [4]:
df.head()

,1.000000000000000000e+00,2.090000000000000000e+02,0.000000000000000000e+00,1.000000000000000000e+00.1,2.090000000000000000e+02.1,0.000000000000000000e+00.1,1.000000000000000000e+00.2,2.090000000000000000e+02.2,0.000000000000000000e+00.2,1.000000000000000000e+00.3,...,0.000000000000000000e+00.48,0.000000000000000000e+00.49,0.000000000000000000e+00.50,1.000000000000000000e+00.24,2.090000000000000000e+02.28,0.000000000000000000e+00.51,2.090000000000000000e+02.29,0.000000000000000000e+00.52,0.000000000000000000e+00.53,0.000000000000000000e+00.54
0,1.997325,862.373975,425755.486168,1.998394,862.024385,425755.975020,1.999464,861.674795,425756.219447,1.999946,...,425756.249694,0.0,0.0,1.999995,861.501748,652.500000,861.501748,425756.249997,0.0,0.0
1,2.996411,1079.842842,378082.653480,2.997845,1079.505801,378229.720545,2.999281,1079.168633,378376.616388,2.999928,...,378442.663570,0.0,0.0,2.999993,1079.001686,615.182303,1079.001686,378449.266376,0.0,0.0
2,3.994158,1188.540874,318800.516638,3.996493,1188.224671,319007.239438,3.998830,1187.908272,319213.889702,3.999883,...,319306.858543,0.0,0.0,3.999988,1187.751583,565.080662,1187.751583,319316.154612,0.0,0.0
3,4.992429,1253.731406,271910.774230,4.995455,1253.439018,272140.056044,4.998484,1253.146398,272369.349253,4.999848,...,272472.534803,0.0,0.0,4.999985,1253.001464,521.998902,1253.001464,272482.853479,0.0,0.0
4,5.989159,1297.188023,235932.196866,5.993491,1296.913008,236171.762127,5.997829,1296.637734,236411.402109,5.999783,...,236519.264376,0.0,0.0,5.999978,1296.501378,486.343553,1296.501378,236530.051429,0.0,0.0

In [5]:
df.tail()

,1.000000000000000000e+00,2.090000000000000000e+02,0.000000000000000000e+00,1.000000000000000000e+00.1,2.090000000000000000e+02.1,0.000000000000000000e+00.1,1.000000000000000000e+00.2,2.090000000000000000e+02.2,0.000000000000000000e+00.2,1.000000000000000000e+00.3,...,0.000000000000000000e+00.48,0.000000000000000000e+00.49,0.000000000000000000e+00.50,1.000000000000000000e+00.24,2.090000000000000000e+02.28,0.000000000000000000e+00.51,2.090000000000000000e+02.29,0.000000000000000000e+00.52,0.000000000000000000e+00.53,0.000000000000000000e+00.54
2278683,332.609473,1340.177692,183232.882631,529.813022,1341.631327,181398.521536,1472.758384,1340.599998,182217.882899,14106.165422,...,181125.109956,0.0,0.0,16954.764412,1341.785229,425.384638,1341.785229,180952.090098,0.0,0.0
2278684,333.431978,1340.699005,182773.690611,530.643364,1341.956156,181112.560074,1473.601164,1340.717669,182114.618372,14107.014829,...,181071.328869,0.0,0.0,16955.746311,1341.795385,425.374150,1341.795385,180943.167110,0.0,0.0
2278685,334.346580,1337.526551,185581.985136,531.561816,1339.958352,182889.431004,1474.525673,1339.998307,182753.633570,14107.942558,...,181407.096573,0.0,0.0,16956.737625,1341.732767,425.439749,1341.732767,180998.979720,0.0,0.0
2278686,332.219835,1338.057746,185116.832751,529.573574,1340.286997,182601.168633,1472.757402,1340.116454,182650.087934,14106.291696,...,181185.194266,0.0,0.0,26411.030394,1341.496875,425.529675,1341.496875,181075.504671,0.0,0.0
2278687,332.780358,1338.586450,184653.301254,530.153135,1340.614663,182313.550074,1473.367548,1340.234472,182546.627584,14106.918244,...,181131.367217,0.0,0.0,26411.960472,1341.503406,425.522944,1341.503406,181069.775475,0.0,0.0

In [6]:
df.shape

(2278688, 115)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278688 entries, 0 to 2278687
Columns: 115 entries, 1.000000000000000000e+00 to 0.000000000000000000e+00.54
dtypes: float64(115)
memory usage: 2.0 GB

In [9]:
lb = pd.read_csv('../Datasets/kitsune_dataset/Active_Wiretap/Active_Wiretap_labels.csv')

In [10]:
lb.head()

   Unnamed: 0  x
0           1  0
1           2  0
2           3  0
3           4  0
4           5  0

In [11]:
lb.tail()

         Unnamed: 0  x
2278684     2278685  1
2278685     2278686  1
2278686     2278687  1
2278687     2278688  1
2278688     2278689  1

In [12]:
lb.shape

(2278689, 2)