# Data Inspection

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/kitsune/ssdp_flood/SSDP_Flood_dataset.csv')

In [3]:
df.head()

,1.000000000000000000e+00,2.090000000000000000e+02,0.000000000000000000e+00,1.000000000000000000e+00.1,2.090000000000000000e+02.1,0.000000000000000000e+00.1,1.000000000000000000e+00.2,2.090000000000000000e+02.2,0.000000000000000000e+00.2,1.000000000000000000e+00.3,...,0.000000000000000000e+00.48,0.000000000000000000e+00.49,0.000000000000000000e+00.50,1.000000000000000000e+00.24,2.090000000000000000e+02.28,0.000000000000000000e+00.51,2.090000000000000000e+02.29,0.000000000000000000e+00.52,0.000000000000000000e+00.53,0.000000000000000000e+00.54
0,1.997162,830.381872,385019.472302,1.998296,830.029123,385019.970028,1.999432,829.676374,385020.218892,1.999943,...,0.000000e+00,0.0,0.0,1.000000,1450.000000,0.000000,1450.000000,0.000000e+00,0.0,0.0
1,2.996940,586.005354,375805.676539,2.998163,585.869927,375719.284013,2.999387,585.734436,375632.816999,2.999939,...,3.080250e+03,0.0,0.0,1.999994,153.499836,55.500000,153.499836,3.080250e+03,0.0,0.0
2,3.994740,802.288440,421819.598158,3.996842,802.073133,421799.114652,3.998947,801.857734,421778.523489,3.999895,...,0.000000e+00,0.0,0.0,1.999998,1450.000000,0.000022,1450.000000,4.656613e-10,0.0,0.0
3,4.994129,661.265167,416790.002134,4.996476,661.159177,416736.772500,4.998825,661.053084,416683.474585,4.999882,...,2.737938e+03,0.0,0.0,2.999991,134.999832,52.325843,134.999832,2.737994e+03,0.0,0.0
4,5.991415,792.909343,433727.619463,5.994846,792.745684,433706.727388,5.998281,792.581921,433685.761051,5.999828,...,4.656613e-10,0.0,0.0,2.999996,1450.000000,0.000022,1450.000000,4.656613e-10,0.0,0.0

In [4]:
df.tail()

,1.000000000000000000e+00,2.090000000000000000e+02,0.000000000000000000e+00,1.000000000000000000e+00.1,2.090000000000000000e+02.1,0.000000000000000000e+00.1,1.000000000000000000e+00.2,2.090000000000000000e+02.2,0.000000000000000000e+00.2,1.000000000000000000e+00.3,...,0.000000000000000000e+00.48,0.000000000000000000e+00.49,0.000000000000000000e+00.50,1.000000000000000000e+00.24,2.090000000000000000e+02.28,0.000000000000000000e+00.51,2.090000000000000000e+02.29,0.000000000000000000e+00.52,0.000000000000000000e+00.53,0.000000000000000000e+00.54
866173,121.706134,742.193612,439411.847146,176.589110,741.654698,437670.572990,468.253169,737.771672,436596.963550,4919.101216,...,3.839396e+04,0.0,0.0,26350.323445,157.034662,206.028966,157.034662,42447.934644,0.0,0.0
866174,148.775849,742.580630,441005.912154,221.274161,738.856390,437489.234840,607.210217,735.262291,433504.762442,6010.033714,...,7.450581e-09,0.0,0.0,25314.114523,1450.000000,0.000000,1450.000000,0.000000,0.0,0.0
866175,149.758763,738.276504,440816.967750,222.258913,735.973012,437360.375426,608.196268,734.214501,433458.610807,6011.019908,...,8.532111e+04,0.0,0.0,17034.972485,196.842907,291.522603,196.842907,84985.427948,0.0,0.0
866176,150.658068,743.000602,441230.958960,223.169236,739.172499,437674.888508,609.114459,735.389625,433586.746220,6011.939048,...,7.450581e-09,0.0,0.0,25315.074656,1450.000000,0.000000,1450.000000,0.000000,0.0,0.0
866177,151.628941,738.746792,441046.634700,224.143347,736.311952,437548.153454,610.090904,734.344880,433540.872530,6012.915800,...,8.527722e+04,0.0,0.0,17035.942982,196.837105,2.915150,NaN,NaN,NaN,NaN

In [5]:
df.shape

(866178, 115)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 866178 entries, 0 to 866177
Columns: 115 entries, 1.000000000000000000e+00 to 0.000000000000000000e+00.54
dtypes: float64(115)
memory usage: 760.0 MB

In [7]:
df.columns

Index(['1.000000000000000000e+00', '2.090000000000000000e+02',
       '0.000000000000000000e+00', '1.000000000000000000e+00.1',
       '2.090000000000000000e+02.1', '0.000000000000000000e+00.1',
       '1.000000000000000000e+00.2', '2.090000000000000000e+02.2',
       '0.000000000000000000e+00.2', '1.000000000000000000e+00.3',
       ...
       '0.000000000000000000e+00.48', '0.000000000000000000e+00.49',
       '0.000000000000000000e+00.50', '1.000000000000000000e+00.24',
       '2.090000000000000000e+02.28', '0.000000000000000000e+00.51',
       '2.090000000000000000e+02.29', '0.000000000000000000e+00.52',
       '0.000000000000000000e+00.53', '0.000000000000000000e+00.54'],
      dtype='object', length=115)

In [8]:
lb = pd.read_csv('../Data/kitsune/ssdp_flood/SSDP_Flood_labels.csv')

In [9]:
lb.head()

   Unnamed: 0  x
0           1  0
1           2  0
2           3  0
3           4  0
4           5  0

In [10]:
lb.tail()

         Unnamed: 0  x
4077261     4077262  1
4077262     4077263  1
4077263     4077264  1
4077264     4077265  1
4077265     4077266  1

In [11]:
lb.shape

(4077266, 2)